.progressbar-margin {
    margin: 0 0px;
  }




.column-label{
  color:#3F51B5;
  text-align: inherit;
  box-sizing: border-box;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: .90rem;
  font-weight: 500;
  border-top-width: 0;
  border-bottom-width: 1px;
  line-height: 2em;
}

.article-table-values{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5em;
  text-align: left;
  color: #393D41;
}

.article-column{
  size: 14%;
}

.articles-tables{
  margin-left: 10%;
  width: 80%;
}